.logo-branding {
    background-color: #51B8A3 !important;
}

.ui.vertical.inverted.sidebar.menu.left.overlay.visible {
    background-color: #4E4E4E;
}

app-course-item.course {
    border: none !important;
    border-radius: 4px;
    background-color: #656565;
    padding: 10px 10px 10px 0;
    margin: 10px 0;
}

app-course-item.course:hover {
    background-color: #777;
}
