* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border:1px red solid;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
header {
	height: 10vh;
	position: relative;
}
.content-wrapper {
	position: relative;
	height: 80vh;
}
.left-bar {
	position: relative;
	float: left;
	width: 25%;
	height: 80vh;
	overflow: auto;
}

.main {
	position: relative;
	height: 80vh;
	overflow: auto;
	float: left;
	width: 50%;
}
.right-bar {
	position: relative;
	height: 80vh;
	overflow: auto;	
	float: left;
	width: 25%;
}
footer {
	height: 10vh;
	position: relative;
}

.content-wrapper::after {
    clear: both;
    content: '';
    display: table;
    height: 0;
    visibility: hidden;
}

/*Side bars*/
#course-list table, th, td {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

#course-list td {
	height: 50px;
}

#course-list td:hover {
	background-color: lightblue;
}

.left-bar h2 {
	text-align: center;
}

#course-list, #preferences {
	height: 35vh;
	overflow: auto;
}

#course-list td {
	position: relative;
}


#course-list td button {
	position: absolute;
	font: 150%;
	background-color: transparent;
	left: 96%;
	bottom: 75%;
	border: 0;
	cursor: pointer;
}

#course-list .delete:hover {
	color: yellow;
}

#preferences * {
	border: 0;
}

#preferences h3 {
	border: 1px solid black;
	text-align: center;
}

.preferences {
	text-align: center;
}

#preferences td {
	border: 1px solid black;
}
#preferences select {
	background-color: lightblue;
}

#submit {
	background-color: lightblue;
	width: 20%;
}

.right-bar h2 {
	text-align: center;
}
.right-bar table, td {
	width: 100%;
}

.right-bar div, table {
	border: 0;
}

.right-bar td {
	height: 50px;
}





@media screen and (min-width: 480px) {
    
}
@media screen and (min-width: 960px) {
	
}
