/* Testing for git branch/checkout */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border:1px red solid;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
header {
	height: 50px;
	position: relative;
}

.top-nav {
	width: 100%;
	background-image: url(./logo.png);
	background-size: auto 130px;
	background-repeat: no-repeat;
	background-position: left;
	background-color: #e6ffff;
	overflow: hidden;

}

#title {
	display: inline;
    margin-left: 12%;
    color: #52527a;
    font-weight: 900;
    font-size: 13pt;
    line-height: 57px;
    
}

#year {
	display: inline;
    color: #52527a;
    font-weight: 600;
    font-size: 10pt;
    

}

/*#description {
	display: inline;
    color: #FFCCCC;
    font-weight: 600;
    font-size: 10pt;
    
}*/

.nav-description {
	user-select: none;
	cursor: default;
	overflow: hidden;

}

.nav-button {
	background-color: #555555; 
	/*border-radius: 75%;*/
	color: black;
	border: 2px solid #4CAF50;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

#login-button {
	background-color: white; 
	border: 2px solid #4CAF50;
	display: inline;
	float: right;
	padding: 10px;
	margin:10px;

}

#signup-button {
	background-color: white; 
	border: 2px solid #4CAF50;
	display: inline;
	float: right;
	padding: 10px;
	margin:10px;
}

#login-button:hover {
	background-color: #4CAF50;
    color: white;
}


#signup-button:hover {
	background-color: #4CAF50;
    color: white;
}

/*.menu {
	width: 66.66%;
	position: relative;
	float: right;
}*/

.content-wrapper {
	position: relative;
	height: 80vh;
}
.left-bar {
	position: relative;
	float: left;
	width: 25%;
	height: 80vh;
	overflow: auto;
}

.main {
	position: relative;
	height: 80vh;
	overflow: auto;
	float: left;
	width: 50%;
}
.right-bar {
	position: relative;
	height: 80vh;
	overflow: auto;
	float: left;
	width: 25%;
}

/*Footer section*/
footer {

	width: 100%;
	background-color: #e6ffff;
	/*height: 40px;*/
	position: relative;
}

/*.footer-links {
	display: inline;
}
*/
.connected {
	margin-left: 12%;
}

.icon{
	height: 25px;
	width: 25px;
}

.links{
	display: inline;
}

#stay-connected {
	display: inline;
}

.content-wrapper::after {
    clear: both;
    content: '';
    display: table;
    height: 0;
    visibility: hidden;
}

@media screen and (min-width: 480px) {

}
@media screen and (min-width: 960px) {

}
