/* Testing for git branch/checkout */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border:1px red solid;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
header {
	height: 10vh;
	position: relative;
}

.top-nav {
	width: 100%;
	background-image: url(./logo.png);
	background-size: auto 130px;
	background-repeat: no-repeat;
	background-position: left;
	background-color: #e6ffff;
	
}

#title {
	display: inline;
    margin-left: 12%;
    color: #52527a;
    font-weight: 900;
    font-size: 13pt;
    line-height: 57px;
}

#year {
	display: inline;
    color: #52527a;
    font-weight: 600;
    font-size: 10pt;

}

#description {
	display: inline;
    color: #FFCCCC;
    font-weight: 600;
    font-size: 10pt;
}

#login-button {
	display: inline;
	float: right;
	padding: 10px;
	border: 10px;
	margin:10px;
}

#signup-button {
	display: inline;
	float: right;
	padding: 10px;
	border: 10px;
	margin:10px;
}

/*.menu {
	width: 66.66%;
	position: relative;
	float: right;
}*/

.content-wrapper {
	position: relative;
	height: 80vh;
}
.left-bar {
	position: relative;
	float: left;
	width: 25%;
	height: 80vh;
	overflow: auto;
}

.main {
	position: relative;
	height: 80vh;
	overflow: auto;
	float: left;
	width: 50%;
}
.right-bar {
	position: relative;
	height: 80vh;
	overflow: auto;
	float: left;
	width: 25%;
}
footer {
	height: 10vh;
	position: relative;
}

.content-wrapper::after {
    clear: both;
    content: '';
    display: table;
    height: 0;
    visibility: hidden;
}

@media screen and (min-width: 480px) {

}
@media screen and (min-width: 960px) {

}
