<!--The whole content below can be removed with the new code.-->
<div class="toc">
    <div class="ui left vertical inverted labeled sidebar menu pushable push visible" style="overflow:overlay;">

        <div class="item logo-branding">
            Timetable
        </div>
        <div class="item">
          <app-search-bar (addCourse)="addCourse($event)"></app-search-bar>
        </div>
        <div class="item course-queue">
            <div class="header">
                Courses ({{selectedCourses.length}})
            </div>
            <app-course-item
                *ngFor="let course of selectedCourses"
                href=""
                class="course ui grid"
                [course]="course"
                (deleteCourse)="deleteCourse($event)">
            </app-course-item>
        </div>
        <div class="item preferences">
            <div class="header">
                Preferences
            </div>
            <app-preference-selector>
            </app-preference-selector>
            <br />
            <button class="fluid ui animated fade button" style="background-color:#51B8A3">
                <div class="visible content">Get solution</div>
                <div class="hidden content">
                  <i class="right arrow icon"></i>
                </div>
            </button>
        </div>

        <div class="item user-profile">

        </div>
    </div>
</div>

<div class="ui pusher" style="margin-left: 260px; padding:25px;">
    <div class="ui container">
        <div class="ui segment">
          <div class="ui secondary pointing menu">
            <a class="active item">
              Fall 2017
            </a>
            <a class="item">
              Winter 2018
            </a>
            <a class="item disabled">
              Summer 2018
            </a>
          </div>
        </div>
        <app-timetable></app-timetable>

    </div>
</div>
