{% block body %}
<!-- Testing for git branch/checkout -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SmartTimetable</title>
        <link rel="stylesheet" href="stylesheets/index-style.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    </head>
    <body>
        <header class="top-nav" id="body-content">

            <div id="title" class="nav-description">Courseware</div>
            <div id="year" class="nav-description">2017</div>
            <!-- <div id="description" class="nav-description">a smart UofT course scheduler</div> -->
            {% if session.username %}
            <span>Logged in as <strong>{{ session.username }}</strong></span>
            {% endif %}
            {% if session.username %}
            <a href="/logout" id="login-button" class="btn btn-info" role="button">Logout</a>
            {% else %}
            <a href="/login" id="login-button" class="btn btn-info" role="button">Login</a>
            {% endif %}
            <a href="/signup" id="signup-button" class="btn btn-info" role="button">Sign Up</a>
            {% if session.admin %}
            <a href="/admin" id="admin-button" class="btn btn-info" role="button">Add course</a>
            {% endif %}
            <button id="link-smart-button" class="nav-button">Try smart</button>
            <!-- <div class="menu-button"> </div> -->

        </header>
        
        <div class="content-wrapper">
            <section class="left-bar">
                <h2>Course List</h2>
                <div id="course-list">
                    <table id="course-list-table">
                    </table>
                </div>
            </section>

            <section class="main main-size">
                <h3 class="title">Search Course</h3>
                <div class="search-bar">
                    <input type="text" placeholder="Course Code: csc108" id="search-by-coursecode">
                    <input type="button" value='search' id="normal-search">
                    <input type="button" value="Advanced" id="show-advanced">
                    <div id="normal-search-result">

                    </div>
                    <div class="advanced-search hide">
                        <div class="group long">
                            <label>Course Level(s)</label>
                            <input type="text" placeholder="100">
                        </div>
                        <div class="group long">
                            <label>Instructor's Last Name</label>
                            <input type="text" placeholder="Enter last name">
                        </div>
                        <div class="group long">
                            <label>Breadth Requirement(s)</label>
                            <input type="text" placeholder="1">
                        </div>
                        <div class="group long">
                            <label>Time(s)</label>
                            <input type="text" placeholder="Morning">
                        </div>
                        <div class="group long">
                            <label>Day(s) of Week</label>
                            <input type="text" placeholder="3">
                        </div>
                        <div class="group long">
                            <label>Course Title</label>
                            <input type="text" placeholder="Enter course title or subtitle">
                        </div>
                        <input id="advanced-search-button"
                         type="button" class="center" value="search">
                    </div>
                </div>
                <section class="timetable">
                    <h3>Winter Semester 2017</h3>
                    <table>
                        <thead>
                            <tr>
                                <th class="first"></th>
                                <th>Mon</th>
                                <th>Tue</th>
                                <th>Wed</th>
                                <th>Thu</th>
                                <th>Fri</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            	<td>8:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>9:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>10:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>11:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>12:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
	                            <td>13:00</td>
	                            <td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>14:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>15:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>16:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>17:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>18:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>19:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>20:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>21:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                            <tr>
                            	<td>22:00</td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            	<td></td>
                            </tr>
                        </tbody>
                    </table>
                    <img class="switch arrowleft" id="switch-left" alt="switch-left"
                     src='leftarrow.png'>
                    <img class="switch arrowright movearrow" id="switch-right" alt="switch-right"
                     src='rightarrow.png'>
                </section>
            </section>
            <button id="smart" class="smart-button button-position"><b>Try smart!</b></button>
            <section class="right-bar hide">
                <h2>Preferences</h2>
                <div id="preferences">
                    <form>
                        <h3>Time Preferences</h3>
                        <div class="preferences">
                            <table>
                                <tr>
                                    <td>Monday</td>
                                    <td>
                                        <select name="mon" id="mon_preference">
                                            <option value="any">any</option>
                                            <option value="morning">monring</option>
                                            <option value="afternoon">afternoon</option>
                                            <option value="evening">evening</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tuesday</td>
                                    <td>
                                        <select name="tue" id="tue_preference">
                                            <option value="any">any</option>
                                            <option value="morning">monring</option>
                                            <option value="afternoon">afternoon</option>
                                            <option value="evening">evening</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Wednesday</td>
                                    <td>
                                        <select name="wed" id="wed_preference">
                                            <option value="any">any</option>
                                            <option value="morning">monring</option>
                                            <option value="afternoon">afternoon</option>
                                            <option value="evening">evening</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Thursday</td>
                                    <td>
                                        <select name="thu" id="thu_preference">
                                            <option value="any">any</option>
                                            <option value="morning">monring</option>
                                            <option value="afternoon">afternoon</option>
                                            <option value="evening">evening</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Friday</td>
                                    <td>
                                        <select name="fri" id="fri_preference">
                                            <option value="any">any</option>
                                            <option value="morning">monring</option>
                                            <option value="afternoon">afternoon</option>
                                            <option value="evening">evening</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <input id="save_preference" type="button" name="preferences" value="Apply">
                        </div>
                    </form>
                </div>
                <h2>Smart Solutions</h2>
                <div id="solutions">
                    <table>
                        
                    </table>
                </div>
            </section>
        </div>
        <footer class="myFooter">
            <section class="connected">
                <h4 id="stay-connected">Stay Connnected</h4>
                <div class="links">
                    <a href="#">
                        <img class="icon twitter" alt="twitter"
                         src="http://brolik.com/images/icon-twitter.svg">
                    </a>
                    <a href="#">
                        <img class="icon facebook" alt="facebook"
                        src="http://brolik.com/images/icon-facebook.svg">
                    </a>
                    <a href="#">
                        <img class="icon linkedin" alt="linkedin"
                        src="http://brolik.com/images/icon-linkedin.svg">
                    </a>
                    <a href="#body-content">
                        <img class="icon home" alt="home"
                        src="./home-logo-md.png">
                    </a>
                </div>

            </section>

        </footer>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="javascripts/index.js"></script>
        <script type="text/javascript">
            var username = "{{ session.username }}";
            var fullname = "{{ session.fullname }}";
            var email = "{{ session.emailaddress }}";
            var password = "{{ session.password }}";
            localStorage.setItem("username", username);
            localStorage.setItem("fullname", fullname);
            localStorage.setItem("email", email);
            localStorage.setItem("password", password);
        </script>
    </body>
</html>
{% endblock %}