/* Testing for git branch/checkout */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
header {
	height: 10vh;
	min-height: 48px;
	position: relative;
}

.top-nav {
	width: 100%;
	background-image: url(../logo.png);
	background-size: auto 130px;
	background-repeat: no-repeat;
	background-position: left;
	background-color: #e6ffff;
}

#title {
	display: inline;
    margin-left: 12%;
    color: #52527a;
    font-weight: 900;
    font-size: 13pt;
    line-height: 57px;

}

#year {
	display: inline;
    color: #52527a;
    font-weight: 600;
    font-size: 10pt;


}

/*#description {
	display: inline;
    color: #FFCCCC;
    font-weight: 600;
    font-size: 10pt;

}*/

.nav-description {
	/*user-select: none;*/
	cursor: default;
	overflow: hidden;

}

.nav-button {
	background-color: #555555;
	/*border-radius: 75%;*/
	color: black;
	border: 2px solid #4CAF50;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}

#login-button {
	display: inline-block;
	float: right;
	width: 8%;
	padding: 0.5em;
	margin: 1%;
}

#signup-button {
	display: inline-block;
	float: right;
	width: 8%;
	padding: 0.5em;
	margin: 1%;
}

#link-smart-button {
	background-color: white;
	border: 2px solid #4CAF50;
	display: none;
	float: right;
	width: 8%;
	padding: 0.5em;
	margin: 1%;
}

#signup-button a, #login-button a, #link-smart-button a {
	text-decoration: none;
	color: black;
}
#signup-button a:hover, #login-button a:hover, #link-smart-button a:hover {
	color: white;
}

#login-button:hover, #signup-button:hover, #link-smart-button:hover{
	background-color: #4CAF50;

}
/*.menu {
	width: 66.66%;
	position: relative;
	float: right;
}*/

.content-wrapper {
	position: relative;
	height: 80vh;
}
.left-bar {
	position: relative;
	float: left;
	width: 19%;
	height: 80vh;
	overflow: auto;
}

.left-bar table, .left-bar td {
	border-radius: 0.4em;
}

.main {
	position: relative;
	height: 100%;
	overflow: auto;
	float: left;
	width: 66%;
	padding-left: 1%;
}

.main-size {
	width: 81%;
}
.right-bar {
	border-left: 0.2em solid #555555;
	border-bottom: 0.2em solid #555555;
	position: relative;
	height: 100%;
	overflow: auto;
	float: right;
	width: 15%;
}

/*Footer section*/
footer {
	text-align: center;
	width: 100%;
	background-color: #e6ffff;
	height: 4em;
	position: relative;
}

/*.footer-links {
	display: inline;
}
*/
.connected {
	height: 100%;
}
.icon{
	height: 25px;
	width: 25px;
}

.links{
	display: inline-block;
	height: 100%;
	line-height: 100%;
}
.links a, .links img{
	height: 1.2em;

	text-decoration: none;
}
#stay-connected {
	font-size: 1.2em;
	height: 100%;
	line-height: 10vh;
	margin-right: 0.5em;
	display: inline-block;
}

.content-wrapper::after {
    clear: both;
    content: '';
    display: table;
    height: 0;
    visibility: hidden;
}


/*Side bars*/
#course-list table, #course-list th, #course-list td {
    width: 100%;
    text-align: center;
}

#course-list th, #course-list td {
    border: 1px solid black;
}

#course-list td {
	height: 50px;
}

#course-list td:hover {
	background-color: lightblue;
}

.left-bar h2 {
	text-align: center;
	background-color: #555555;
    border: 0.1em solid #555555;
    padding: 0.5em 1em;
    color: white;
    display: inline-block;
    border-radius: 0.5em 0.5em 0 0;
    width: 100%;
}

#course-list {
	height: 100%;
	overflow: auto;
}

#course-list td {
	position: relative;
}


#course-list td button {
	position: absolute;
	font: 150%;
	background-color: transparent;
	left: 96%;
	bottom: 75%;
	border: 0;
	cursor: pointer;
}

#course-list .delete:hover {
	color: yellow;
}

.smart-button {
	width: 8em;
	height: 2em;
	transform: rotate(90deg);
	transform-origin: left top 0;
	position: absolute;
	left: 85%;
	font-size: 85%;
	background-color: #555555;
    border: 0.1em solid #555555;
	border-radius: 0 0 0.5em 0.5em;
	color: white;
}

.button-position {
	left: 100%;
}



#preferences * {
	border: 0;
}
#preferences {
	text-align: center;
	padding-bottom: 5vh;
	height: 35vh;
	overflow: auto;
}

#preferences h3 {
	border: 1px solid black;
	text-align: center;
}
#preferences table, #preferences td {
	width: 100%;
	text-align: center;
}

#preferences td {
	border: 1px solid black;
}

#preferences select {
	background-color: transparent;
}
#preferences input[type='submit'], input[type='button'] {
    background-color: #008CBA;
    border: solid 0.1em #008CBA;
    border-radius: 0.4em;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 50%;
    height: 2em;
    position: relative;
    top: 2px;
    font-size: 1em;
    margin-bottom: 0.5em;
}

input[type='submit']:hover, input[type='button']:hover {
    cursor: pointer;
    box-shadow: 0 1.5em 2em rgba(0,0,0,0.24), 0 1em 2em 0 rgba(0,0,0,0.19);
}

.right-bar h2 {
	text-align: center;
	background-color: #555555;
    border: 0.1em solid #555555;
    padding: 0.5em 1em;
    color: white;
    display: inline-block;
    width: 100%;
}
.right-bar table, .right-bar td {
	width: 100%;
	text-align: center;
	border: 1px solid black;
}

.right-bar div, .right-bar table {
	border: 0;
}

.right-bar td {
	border-radius: 0.4em;
}

.solution:hover {
	background-color: lightblue;
}
/*Side bars end*/

/*main*/

.hide {
	display: none;
}

.main .title {
	background-color: #555555;
	border: 0.1em solid #555555;
	padding: 0.5em 1em;
	color: white;
	display:inline-block;
	border-radius: 0.5em 0.5em 0 0;
}

.main .search-bar input {
	height: 3em;
	font-size: 1em;
}
.main .search-bar input[type='text']{
	border: solid 0.15em #ccc;
	padding: 0 1em;
	width: 100%;
}
.main #search-by-coursecode {
	width: 60%;
}
.main .search-bar input[type='button'] {
	background-color: #008CBA;
    border: solid 0.1em #008CBA;
    border-radius: 0.4em;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 19%;
}
.main .search-bar input[type='button']:hover {
	cursor: pointer;
	box-shadow: 0 1.5em 2em rgba(0,0,0,0.24),0 1em 2em 0 rgba(0,0,0,0.19);
}

.main #normal-search-result {
	background-color: #F9F9F9;
	padding: 1em 2em;
	text-align: center;
	border-bottom: 0.1em solid #008CBA;
}
.main .advanced-search {
	background-color: #F9F9F9;
	padding: 1em 2em;
	text-align: center;
	border-bottom: 0.1em solid #008CBA;
}
.main .advanced-search label {
	font-weight: bold;
	display: block;
	font-size: 1em;
	padding: 0.5em 0;
}
.main .advanced-search .group{
	display: inline-block;
	width: 44%;
	margin-right: 5%;
	margin-bottom: 2%;
}

.main .timetable {
	border-left: 0.2em solid lightgrey;
	border-right: 0.2em solid lightgrey;
	padding-top: 1em;
}
.main .timetable h3{
	text-align: center;
}
.main .timetable table {
	width: 100%;
}
.main .timetable table,.main .timetable th, .main .timetable td {
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
}
.main .timetable table th {
	height: 2em;
	vertical-align: bottom;
	text-align: center;
	width: 18%;
}
.main .timetable table .first {
	width: 10%;
}
.main .timetable table tbody tr {
	height: 4em;
	color: #999;
}

.main .timetable .switch {
	position: fixed;
	top: 50%;
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.main .timetable td {
	column-span: 1;
}
.main .timetable .course {
	background: lightblue;
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 1.4em;
}
.main .timetable .arrowleft {
	left: 23%;
}
.main .timetable .arrowright {
	left: 75%;
}

.main .timetable .movearrow {
	left: 96%;
}
.main .timetable .switch:hover {
	cursor: pointer;
	opacity: 1;
    filter: alpha(opacity=100);
}


/*main end*/
/*
@media (max-width: 580px) {
	.left-bar{
		visibility: hidden;
		display: none;
	}
	.right-bar {
		visibility: hidden;
		display: none;
	}
	.content-wrapper {

		position: relative;
		height: 80vh;
	}
	.main {
		position: relative;
		height: 80vh;
		overflow: auto;
		float: left;
		width: 100%;
	}
	.search-bar {
		width: 100%;
	}
	.main #search-by-coursecode {
		width: 50%;
	}
	#normal-search {
		width: 23%;
	}
	#show-advanced {
		width: 23%;
	}
	.main .timetable .arrowleft {
		left: 1%;
	}
	.main .timetable .arrowright {
		left: 90%;
	}
}*/
@media screen and (max-width: 1024px) {

    .right-bar h2, .left-bar h2 {
    	font-size: 1em;
    }
    .preferences td,.preferences select {
    	display: block;
    }
}
@media screen and (max-width: 700px) {
	#signup-button, #login-button {
		width: 6em;
	}
	#link-smart-button {
		width: 6em;
		display: block;
	}
	.main #search-by-coursecode {
		width: 100%;
		margin-bottom: 0.15em;
	}
	.main .search-bar input[type='button'] {
		width: 100%;
		display: block;
		margin-bottom: 0.15em;
	}
	.main .timetable .arrowleft, .main .timetable .arrowright{
		top: 60%;
	}

	.content-wrapper {
		height: 100%;
	}

	#smart {
		display: none;
	}
	.arrowright, .arrowleft {
		display: none;
	}
	.right-bar {
		float: none;
		display: block;
		width: 100%;
	}
	.main {
		width: 81%;
	}
	.top-nav {
		background-position: -1em -2.5em;
	}
}

@media screen and (max-width: 480px) {
	#signup-button, #login-button, #link-smart-button {
		width: 100%;
	}
	header {
		height: 11em;
	}
	.left-bar {
		float: none;
		display: block;
		width: 100%;
		height: 100%;
	}
	.main {
		float: none;
		display: block;
		width: 100%;
		height: 100%;
	}
}
