<!-- <div class="ui search">
  <div class="ui icon fluid input">
    <input class="prompt" type="text" placeholder="Common passwords...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div> -->

<ng-template let-result let-query="query" #template style="max-width：240px; overflow:hidden">
  {{ result.code }}<br />
  <span style="color: #999; font-size:11px; ">{{result.name}}</span>
</ng-template>

<sui-search
  [options]="options"
  optionsField="code"
  placeholder="Search by course code"
  [optionsLookup]="fetchCourse"
  [resultTemplate]="template"
  [retainSelectedResult]="false"
  (resultSelected)="select($event)">
</sui-search>
