.logo-branding {
    background-color: #51B8A3 !important;
    font-size: 18px;
}

.ui.vertical.inverted.sidebar.menu.left.overlay.visible {
    background-color: #4E4E4E;
}

app-course-item.course {
  border: none !important;
  border-radius: 4px;
    margin: 5px 0 !important;
}

app-course-item.course:hover {
    background-color: #777;
}

.solution {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #454545 !important;
  margin-bottom: 5px;
  cursor: pointer;
}

.solution:hover {
  background-color: #656565 !important;
}

#logo {
  height: 50px;
  display: inline-block;
}

.content {
  margin-left: 260px;
  padding:25px;
}

.side-button {
  background-color: #000;
  position: fixed;
  width: 100%;
  justify-content:flex-start;
  display: flex;
  padding:10px;
  color:white !important;
  cursor: pointer;
}
.sidebar-toggle {
  color: white;
  position: sticky;
}

@media screen and (max-width: 990px) {
  .content {
    margin-left: 0px;
    padding: 50px 0px 10px 0px;
  }
}
