<alert></alert>
<ng-template #toolbar>
    <div class="item logo-branding">
        <img src="../assets/images/logo-white.svg" alt="" id="logo"> <span
            style="font-size:18px"> Smart Timetable</span> <sup style="font-size:9px">2018</sup>
        <i class="close icon" (click)="sidebar.close();" *responsive="{
                          bootstrap: ['xs','sm']
                        }"></i>
    </div>
    <div class="item">
        <app-search-bar (addCourse)="addCourse($event)" [term]="activeTerm"></app-search-bar>
    </div>
    <div class="item course-queue">
        <div class="header">
            Courses
        </div>
        <app-course-item
                *ngFor="let course of activeCourses()"
                class="course ui grid"
                [course]="course"
                (deleteCourse)="deleteCourse($event)">
        </app-course-item>
    </div>
    <div class="item constraints">
        <div class="header">
            Constraints
            <span>
                <button
                        (click)="newConstraint()"
                        class="ui button"
                        style="background-color: #51B8A3; color: #454545; margin: 5px;">
                New
                </button>
            </span>
            <ng-template let-context let-modal="modal" #modalTemplate>
                <div class="header">New Constraint</div>
                <div class="content">
                    <div class="ui negative message" *ngIf="constraintError != ''">
                        <i class="close icon" (click)="clearError()"></i>
                        <div class="header">
                            Opps! something wrong
                        </div>
                        <p>{{constraintError}}</p>
                    </div>
                    <div class="ui input">
                        <span>Name: </span><input [(ngModel)]="constraintName" type="text"
                                                  placeholder="custom name"/>
                        <span>Priority: </span><input [(ngModel)]="priority" type="number"
                                                      placeholder="priority(1~10)"/>
                    </div>
                    <div class="ui divider"></div>
                    <sui-tabset>
                        <div class="ui top attached tabular menu">
                            <a class="item" suiTabHeader="1">Time Conflict Constraint</a>
                            <a class="item" suiTabHeader="2">Section Preference Constraint</a>
                            <a class="item" suiTabHeader="3">Time Slot Avoid Constraint</a>
                            <a class="item" suiTabHeader="4">Location Distance Constraint</a>
                        </div>
                        <div class="ui bottom attached segment" suiTabContent="1">
                            <p>Add penalty for solutions with course conflict (time overlap of course section). Multiple
                                overlap will trigger multiple penalties.</p>
                        </div>
                        <div class="ui bottom attached segment" suiTabContent="2">
                            <p>Select a number of course sections, when selected adds score to the solution.</p>

                        </div>
                        <div class="ui bottom attached segment" suiTabContent="3">
                            <p>Select a number of time slots, when time slots overlapped with solution, impose a
                                penalty.</p>
                            <div *ngFor="let time of constraintTimeSlots; let i = index">
                                {{i}}. {{time}}
                            </div>
                            <div class="ui input">
                                <input #timeDay type="number" placeholder="day(1~7)">
                                <input #timeStart type="number" placeholder="start(0~24)">
                                <input #timeEnd type="number" placeholder="end(0~24)">
                            </div>
                            <button class="ui green button"
                                    (click)="newConstraintTimeSlot(timeDay.value, timeStart.value, timeEnd.value)">
                                Add
                            </button>
                        </div>
                        <div class="ui bottom attached segment" suiTabContent="4">
                            <p>When two class adjacent to each other, and the locations are too far away to each
                                other(bigger than threshold), impose a penalty.</p>
                        </div>
                    </sui-tabset>
                </div>

                <div class="actions">
                    <button class="ui red button" (click)="modal.deny()">Cancel</button>
                    <button class="ui green button" (click)="modal.approve('something')" autofocus>OK</button>
                </div>
            </ng-template>
        </div>
        <app-constraint
                *ngFor="let constraint of constraints"
                class="constraint ui grid"
                [constraint]="constraint"
                (deleteConstraint)="deleteConstraint($event)">
        </app-constraint>

        <br/>
        <button (click)="getSolutions()"
                class="fluid ui button"
                style="background-color:#51B8A3; margin-top:10px">
            Get solution
        </button>
    </div>

    <div class="item solutions">
        <div class="header">
            Solutions
        </div>
        <a *ngFor="let solution of solutionTable.getValue(activeTerm); let i = index"
           (click)="renderSolution(solution); sidebar.close();" class="solution">
            Solution {{i + 1}}<span style="font-size:12px; opacity: 0.5"> (score: {{solution.score}})</span>
        </a>
    </div>
</ng-template>

<div class="ui left vertical inverted labeled sidebar menu pushable push visible tablet or lower hidden"
     style="overflow:overlay;" *responsive="{
                    bootstrap: ['xl','lg','md']
                  }">
    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
</div>
<sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar class="inverted vertical" #sidebar>
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <!-- ui inverted vertical left fixed menu tablet or lower hidden -->
        <div class="side-button" *responsive="{
                          bootstrap: ['xs','sm']
                        }" (click)="sidebar.toggle()">
            <a class="launch icon item sidebar-toggle">
                <i class="sidebar icon"></i>
            </a>
        </div>

        <div class="main-content" style="">
            <div class="ui container">
                <div class="ui segment">
                    <div class="ui secondary pointing menu">
                        <a *ngFor="let term of terms"
                           class="{{term.equals(this.activeTerm) ? 'active' : ''}} item"
                           (click)="selectTerm(term)"
                        >{{term.toString()}}</a>
                    </div>
                </div>
                <app-timetable *ngFor="let term of terms"
                               [term]="term"
                               [hidden]="!term.equals(activeTerm)">
                </app-timetable>
            </div>
        </div>

    </sui-sidebar-sibling>
</sui-sidebar-container>
<div class="ui active dimmer" *ngIf="loading">
    <div class="ui loader"></div>
</div>
