<alert></alert>
<ng-template #toolbar>
    <div class="item logo-branding">
        <img src="../assets/images/logo-white.svg" alt="" id="logo"> <span
            style="font-size:18px"> Smart Timetable</span> <sup style="font-size:9px">2018</sup>
        <i class="close icon" (click)="sidebar.close();" *responsive="{
                          bootstrap: ['xs','sm']
                        }"></i>
    </div>
    <div class="item">
        <app-search-bar (addCourse)="addCourse($event)" [term]="activeTerm"></app-search-bar>
    </div>
    <div class="item course-queue">
        <div class="header">
            Courses
        </div>
        <app-course-item
                *ngFor="let course of activeCourses()"
                class="course ui grid"
                [course]="course"
                (deleteCourse)="deleteCourse($event)">
        </app-course-item>
    </div>
    <div class="item preferences">
        <div class="header">
            Constraints
            <span>
                <button
                        (click)="newConstraint()"
                        class="ui button"
                        style="background-color: #51B8A3; color: #454545; margin: 5px;">
                New
                </button>
            </span>
            <ng-template let-context let-modal="modal" #modalTemplate>
                <div class="header">New Constraint</div>
                <div class="content">
                    <p>TODO create a new constraint{{context.data}}</p>
                </div>

                <div class="actions">
                    <button class="ui red button" (click)="modal.deny('cancel')">Cancel</button>
                    <button class="ui green button" (click)="modal.approve('submit')" autofocus>OK</button>
                </div>
            </ng-template>
        </div>
        <app-constraint
                *ngFor="let constraint of constraints"
                class="constraint ui grid"
                [constraint]="constraint"
                (deleteConstraint)="deleteConstraint($event)">
        </app-constraint>

        <br/>
        <button (click)="getSolutions()"
                class="fluid ui button"
                style="background-color:#51B8A3; margin-top:10px">
            Get solution
        </button>
    </div>

    <div class="item solutions">
        <div class="header">
            Solutions
        </div>
        <a *ngFor="let solution of solutionTable.getValue(activeTerm); let i = index"
           (click)="renderSolution(solution); sidebar.close();" class="solution">
            Solution {{i + 1}}<span style="font-size:12px; opacity: 0.5"> (score: {{solution.score}})</span>
        </a>
    </div>
</ng-template>

<div class="ui left vertical inverted labeled sidebar menu pushable push visible tablet or lower hidden"
     style="overflow:overlay;" *responsive="{
                    bootstrap: ['xl','lg','md']
                  }">
    <ng-container *ngTemplateOutlet="toolbar"></ng-container>
</div>
<sui-sidebar-container class="ui bottom attached segment">
    <sui-sidebar class="inverted vertical" #sidebar>
        <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </sui-sidebar>
    <sui-sidebar-sibling [isDimmedWhenVisible]="true">
        <!-- ui inverted vertical left fixed menu tablet or lower hidden -->
        <div class="side-button" *responsive="{
                          bootstrap: ['xs','sm']
                        }" (click)="sidebar.toggle()">
            <a class="launch icon item sidebar-toggle">
                <i class="sidebar icon"></i>
            </a>
        </div>

        <div class="main-content" style="">
            <div class="ui container">
                <div class="ui segment">
                    <div class="ui secondary pointing menu">
                        <a *ngFor="let term of terms"
                           class="{{term.equals(this.activeTerm) ? 'active' : ''}} item"
                           (click)="selectTerm(term)"
                        >{{term.toString()}}</a>
                    </div>
                </div>
                <app-timetable *ngFor="let term of terms"
                               [term]="term"
                               [hidden]="!term.equals(activeTerm)">
                </app-timetable>
            </div>
        </div>

    </sui-sidebar-sibling>
</sui-sidebar-container>
<div class="ui active dimmer" *ngIf="loading">
    <div class="ui loader"></div>
</div>
