<table class="ui fixed center aligned equal height row table">
    <thead>
        <tr>
            <th class="first"></th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
        </tr>
    </thead>
    <tbody *ngIf="timetableSlot">
        <tr *ngFor="let item of createRange(15); let i = index">
            <td>{{8 + i}}:00</td>
              <td
                *ngFor="let col of createTd(timetableSlot.map, i); let j = index"
                [style.background-color]="col.color"
                class="{{col.class}}"
                [attr.rowspan]="col.rowspan"
                (click)="col.fn()"
                >
                {{i}}, {{j}}
                <strong>{{col.code}}</strong><br />
                {{col.section}}
              </td>
        </tr>
    </tbody>
</table>
