<table class="ui fixed center aligned celled equal height row table">
    <thead>
        <tr>
            <th class="first"></th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
        </tr>
    </thead>
    <tbody *ngIf="timetableSlot">
        <tr *ngFor="let item of createRange(15); let i = index">
            <td>{{8 + i}}:00</td>
            <td *ngFor="let col of createRange(5); let j = index" [style.background-color]="timetableSlot.map[j][i].color">
              {{timetableSlot.map[j][i].code}}<br />
              {{timetableSlot.map[j][i].section}}
            </td>
        </tr>
    </tbody>
</table>
