td {
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 5s ease;
}

td:hover {
    background-color: rgba(81, 184, 163, 0.2)
}

.selector-background {
    position: absolute;
    top: auto;
    left: auto;
}

tr {
    height: 40px;
}

td.selected {
    background-color: #51B8A3 !important;
}
