<table class="ui inverted fixed table">
    <thead>
        <tr>
            <th></th>
            <th>
                M
            </th>
            <th>
                T
            </th>
            <th>
                W
            </th>
            <th>
                H
            </th>
            <th>
                F
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                MORNING
            </th>
            <td (click)="flip('monday', 'morning')" class="{{ preference.monday.morning ? 'selected' : ''}}">

            </td>
            <td (click)="flip('tuesday', 'morning')" class="{{ preference.tuesday.morning ? 'selected' : ''}}">

            </td>
            <td (click)="flip('wednesday', 'morning')" class="{{ preference.wednesday.morning ? 'selected' : ''}}">

            </td>
            <td (click)="flip('thursday', 'morning')" class="{{ preference.thursday.morning ? 'selected' : ''}}">

            </td>
            <td (click)="flip('friday', 'morning')" class="{{ preference.friday.morning ? 'selected' : ''}}">

            </td>
        </tr>
        <tr>
            <th>
                AFTERNOON
            </th>
            <td (click)="flip('monday', 'afternoon')" class="{{ preference.monday.afternoon ? 'selected' : ''}}">

            </td>
            <td (click)="flip('tuesday', 'afternoon')" class="{{ preference.tuesday.afternoon ? 'selected' : ''}}">

            </td>
            <td (click)="flip('wednesday', 'afternoon')" class="{{ preference.wednesday.afternoon ? 'selected' : ''}}">

            </td>
            <td (click)="flip('thursday', 'afternoon')" class="{{ preference.thursday.afternoon ? 'selected' : ''}}">

            </td>
            <td (click)="flip('friday', 'afternoon')" class="{{ preference.friday.afternoon ? 'selected' : ''}}">

            </td>
        </tr>
        <tr>
            <th>
                NIGHT
            </th>
            <td (click)="flip('monday', 'evening')" class="{{ preference.monday.evening ? 'selected' : ''}}">

            </td>
            <td (click)="flip('tuesday', 'evening')" class="{{ preference.tuesday.evening ? 'selected' : ''}}">

            </td>
            <td (click)="flip('wednesday', 'evening')" class="{{ preference.wednesday.evening ? 'selected' : ''}}">

            </td>
            <td (click)="flip('thursday', 'evening')" class="{{ preference.thursday.evening ? 'selected' : ''}}">

            </td>
            <td (click)="flip('friday', 'evening')" class="{{ preference.friday.evening ? 'selected' : ''}}">

            </td>
        </tr>
    </tbody>
</table>
