<table class="ui fixed center aligned equal height row unstackable table">
    <thead *ngIf="timetable">
    <tr *ngIf="timetable.header">
        <th class="first"></th>
        <th *ngFor="let day of timetable.header" [attr.colspan]="day.colspan">
            {{day.title}}
        </th>
    </tr>
    </thead>
    <tbody *ngIf="timetable">
    <tr *ngFor="let item of ' '.repeat(timetable.maxTime - timetable.minTime).split(''); let i = index">
        <td>{{timetable.minTime + i}}:00</td>
        <td
                *ngFor="let col of timetable.table[i]; let j = index"
                [style.background-color]="col.color"
                class="{{col.class}}"
                [attr.rowspan]="col.rowspan"
                [attr.colspan]="col.colspan"
                (click)="col.fn()"
        >
                <span *ngIf="col.section=='multiple'; else elseBlock;">
                  <ng-template let-popup #popupTemplate>
                      <div class="header">Sections</div>
                      <div class="content">
                        {{col.lst}}
                      </div>
                  </ng-template>

                  <span suiPopup [popupTemplate]="popupTemplate">
                    <strong>{{col.code}}</strong><span style="opacity:0.5"> {{col.section}}<br/>
                    <span *ngIf="col.start">{{col.start}}:00-{{col.end}}:00</span></span>
                  </span>
                </span>
            <ng-template #elseBlock>
                <strong>{{col.code}}</strong><span style="opacity:0.5"> {{col.section}}<br/>
                  <span *ngIf="col.start">{{col.start }}:00-{{col.end }}:00</span></span>
            </ng-template>

        </td>
    </tr>
    </tbody>
</table>
