<table class="ui inverted fixed unstackable table">
    <thead>
    <tr>
        <th class="center aligned">
        </th>
        <th class="center aligned">
            M
        </th>
        <th class="center aligned">
            T
        </th>
        <th class="center aligned">
            W
        </th>
        <th class="center aligned">
            H
        </th>
        <th class="center aligned">
            F
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let time of times">
        <td class="all center aligned {{preferenceService.getDaySum(preference, time) == -5 ? 'red' : ''}}"
            (click)="excludeRow(time)">
            <i class="close icon"></i>
        </td>
        <td
                *ngFor="let day of days"
                (click)="flip(day, time)"
                class="center aligned {{ preference[day][time] == 1 ? 'selected' : ''}} {{ preference[day][time]==-1 ? 'red' : ''}}"
        >
            {{timeToHour[time]}}
        </td>

    </tr>
    <tr>
        <td>
        </td>
        <td (click)="excludeCol('monday')"
            class="all center aligned {{ preferenceService.getTimeSum(preference, 'monday') == -4 ? 'red' : ''}}">
            <i class="close icon"></i>
        </td>
        <td (click)="excludeCol('tuesday')"
            class="all center aligned {{ preferenceService.getTimeSum(preference, 'tuesday') == -4 ? 'red' : ''}}">
            <i class="close icon"></i>
        </td>
        <td (click)="excludeCol('wednesday')"
            class="all center aligned {{ preferenceService.getTimeSum(preference, 'wednesday') == -4 ? 'red' : ''}}">
            <i class="close icon"></i>
        </td>
        <td (click)="excludeCol('thursday')"
            class="all center aligned {{ preferenceService.getTimeSum(preference, 'thursday') == -4 ? 'red' : ''}}">
            <i class="close icon"></i>
        </td>
        <td (click)="excludeCol('friday')"
            class="all center aligned {{ preferenceService.getTimeSum(preference, 'friday') == -4 ? 'red' : ''}}">
            <i class="close icon"></i>
        </td>
    </tr>
    </tbody>
</table>
<span style="color:#51B8A3"><i class="square icon"></i> I prefer this timeslot.</span><br/>
<span style="color:#DC4C46"><i class="square icon"></i> I dont want this timeslot.</span>
