<table class="ui inverted fixed unstackable table">
    <thead>
        <tr>
            <th class="center aligned {{ preference['monday']['no'] ? 'red' : ''}}">
                M
            </th>
            <th class="center aligned {{ preference['tuesday']['no'] ? 'red' : ''}}">
                T
            </th>
            <th class="center aligned {{ preference['wednesday']['no'] ? 'red' : ''}}">
                W
            </th>
            <th class="center aligned {{ preference['thursday']['no'] ? 'red' : ''}}">
                H
            </th>
            <th class="center aligned {{ preference['friday']['no'] ? 'red' : ''}}">
                F
            </th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let time of times">
        <td
          *ngFor="let day of days"
          (click)="flip(day, time)"
          class="center aligned {{ preference[day][time] ? 'selected' : ''}} {{ preference[day]['no'] ? 'red' : ''}}"
        >
        </td>

      </tr>
        <tr>
            <td (click)="flip('monday', 'no')" class="all center aligned {{ preference['monday']['no'] ? 'red' : ''}}">
              <i class="close icon"></i>
            </td>
            <td (click)="flip('tuesday', 'no')" class="all center aligned {{ preference['tuesday']['no'] ? 'red' : ''}}">
              <i class="close icon"></i>
            </td>
            <td (click)="flip('wednesday', 'no')" class="all center aligned {{ preference['wednesday']['no'] ? 'red' : ''}}">
              <i class="close icon"></i>
            </td>
            <td (click)="flip('thursday', 'no')" class="all center aligned {{ preference['thursday']['no'] ? 'red' : ''}}">
              <i class="close icon"></i>
            </td>
            <td (click)="flip('friday', 'no')" class="all center aligned {{ preference['friday']['no'] ? 'red' : ''}}">
              <i class="close icon"></i>
            </td>
        </tr>
    </tbody>
</table>
<span style="color:#51B8A3"><i class="square icon"></i> I prefer this timeslot.</span><br />
<span style="color:#DC4C46"><i class="square icon"></i> I dont want this timeslot.</span>
